.App {
  text-align: center;
}

body {
  background-color: #D8FED1
}

.App-logo {
  height: 180px;
  padding-top: 20px;
}

.running-man {
  height: 200px;
  padding-top: 20px;
}

.title {
  color: grey;
}

.App-header {
  background-color: #581062;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
